.jumbotron {
    border-radius:0 !important;
    /* background-color:whitesmoke; */
    /* background-image: url("imgs/portfolio_background_colors_blue.jpg"); */
    width:100%;
    display:flex;
    justify-content: center;
    color:white;
    font-family: 'Bungee Shade', cursive;
  }


